In [1]:
original_number= 33
num_to_be_added = 7
new_number = original_number+num_to_be_added

In [2]:
print(new_number)

40

In [3]:
or_number = 90
or_number = 90+10

print(or_number)

100

In [5]:
prime_1st = 2
print(prime_1st)

2

Assigning variable to some number

In [6]:
grand_total = 58
total = 7
ans = grand_total / total

print(ans)

8.285714285714286

# Point to remember before set a variable#

    1)Don't enclosed in quotation mark "".
    2)Don't add any space to set any variable
    3)It won't be a number or start with a number like 1st_number = (6)
    4)Its can't be set with Python Resever word i.e keywords like , and , print , else , list , from, del etc

In [14]:
5%6

5

In [6]:
ansd = 5%2

print(ansd)

1

# Un Familiar operators # 

    %
    +=

In [9]:
age = 51

In [10]:
age = age +1

In [14]:
age += 1

print(age)

56

this is \\ double backslash

In [16]:
print ("this is \\\\ double backslash")

this is \\ double backslash

 these are /\/\/\  mountains

In [17]:
print ("these are /\\/\\/\\ mountains ")

these are /\/\/\ mountains

# he is      awesome

In [18]:
print ("he is\t awesome")

he is	 awesome

\" \n \t \'

In [42]:
print ("\\\" \\n \\t \\'")

\" \n \t \'

In [43]:
print ("\\\" \\n \\t \\'")

\" \n \t \'

In [46]:
print ("\\\"")

\"

In [2]:
fahim = "fahi"

In [3]:
print(fahim)

fahi

In [6]:
fahim = "hen"

In [7]:
print(fahim)

hen

# Math expressions: Unfamiliar operators

    whats_left_over = 10 % 3
    whats_left_over = 9 % 3

In [9]:
left_over = 9 % 3

In [10]:
print(left_over)

0

In [12]:
age = 15

In [13]:
age = age + 1

In [14]:
print(age)

16

In [15]:
age = 54

In [16]:
age += 1

In [18]:
print(age)

55

In [19]:
age = 12

age += 50

print(age)

62

In [1]:
5//6

0

In [2]:
5/6

0.8333333333333334

In [3]:
2**6

64

In [5]:
fahi = "fahim"

In [6]:
print(fahi)

fahim

In [8]:
xys = fahi

In [9]:
print(fahi)

fahim

In [10]:
print(xys)

fahim

# Math expressions: Eliminating ambiguity

In [12]:
total_cost = 1 + 3 * 4

print(total_cost)

13

In [13]:
x = ((2 * 4) * 4) + 2

print(x)

34

# Chapter 8  #Concatenating text strings

In [16]:
greeting = "hello"
address = "world"

whole_greeting = greeting + address

print(whole_greeting)

helloworld

In [19]:
greerting = "hello"
seperators = ","
address = "world"
punc = "!"
whole_greeting = greeting + seperators + address + punc

print(whole_greeting)

hello,world!

In [23]:
whole_greeting = "Hello, " + "World!"
print(whole_greeting)

Hello, World!

In [24]:
print("The sum of 2 plus 2 is " + 4)

TypeError: can only concatenate str (not "int") to str

In [26]:
print("The sum of 2 plus 2 is " + "4")

The sum of 2 plus 2 is 4

In [28]:
var = "Mr." + "Brown"
print(var)

Mr.Brown

### Chapter 9 -  if statements

In [29]:
species = "cat"

if species == "cat":
    print("yep it'a cat")

yep it'a cat

In [34]:
name = "Fahim"
if name == "Fahims":
    print("Yes! its my name")

In [37]:
drink = "pepsi"
if drink == "pepsi":
    print("Yes it is my drink dear")

Yes it is my drink dear

In [38]:
drink = "pepsi"
if drink == "Coke":
    print("Yes it is my drink dear")

In [40]:
if 2 + 2 == 4:
    print("Every thing make sense")

Every thing make sense

In [43]:
number_of_husband = 1

In [44]:
if number_of_husband == 1:
    print("so far so good")
    print("Congrats")
    print("All Done")

so far so good
Congrats
All Done

In [51]:
name = "Sherlock"
if name == "Sherlock":
    last_name = "Holmes"
    age = "33"
    
    print("Mr" + " " + name + " " + last_name + " and his age is" + age)

Mr Sherlock Holmes and his age is33

In [52]:
name = "Faisal"
if name == "Sherlock":
    last_name = "Holmes"
    age = "33"
    
    print("Mr" + " " + name + " " + last_name + " and his age is" + age)

nothing is displayed becauase his first name is not Sherlock

# Chapter :  10    Comparison operators

In [53]:
if full_name == "Mark" + " " + "Mayers":
if full_name != "fahim" + "Shaikh":

IndentationError: expected an indented block (<ipython-input-53-672ec135c48b>, line 2)

In [54]:
if 8 > 0:
    print("yes it is")

yes it is

In [70]:
if 8 > 0:
    if 8 >= 4:
        if 8 == 8:
            if 9 <= 20:
                if 20 < 100:
                    print("all is that true")

all is that true

## If 2 is less than or equal to 2, display ok

In [71]:
if 2 <= 2:
    print("ok")

ok

### Chapter 11
### else and elif statements

In [83]:
Species  = "cat"

if Species == "cat":
    if Species != "loin":
        print("All is true")

All is true

In [73]:
if Species == "cat":
    print("yes! it is a cat")
else:
    print("No its not a cat ")

yes! it is a cat

In [74]:
if Species == "Loin":
    print("yes! it is a cat")
else:
    print("No its not a cat ")

No its not a cat

In [84]:
donut_price = "fresh"


if donut_price == "fresh":
    buy_score = 10
elif donut_price == "low":
    buy_score = 5
else:
    buy_score = 0

In [91]:
donut_condition = "ss"

buy_score = 0
if donut_condition == "fresh":
    buy_score += 10
    print(buy_score)
else:
    print("no sell today")

no sell today

if donut_condition == "fresh":
2   buy_score = 10
3 ____ donut_price == "low":
4   buy_score = 5
5 else:
6   buy_score = 0

In [105]:
donut_condition =  "sh"
donut_price = "l"
buy_score = 0


if donut_condition == "fresh":
    buy_score += 10
elif donut_price == "low":
    buy_score += 5
else:
    buy_score = 0
    print(buy_score)

0

In [109]:
var1 = 100
if var1:
    print("it is good")
    print(var1)
else:
    print("its not a good")
    print(var1)

it is good
100

In [114]:
var2 = 0
if var2:
    print("it is good")
    print(var2)
else:
    print("no its not good")
    print(var2)

no its not good
0

In [124]:
gar = 100

if gar == 150:
    print("1- it is false")
    print(gar)
elif gar == 200:
    print("2-it is false")
    print(gar)
elif gar >= 90:
    print("3-it is true")
    print(gar)
elif gar >= 200:
    print("4-it is also a true value")
    print(gar)
else:
    print("so what should i do now")

3-it is true
100